::-webkit-scrollbar-track
{
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, .4);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #DDD;
}

b {
    color: #FFF;
}

html, body, #root, #app {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

#app {
    background: #1a1c2f;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal .header {
    padding: 10px;
    box-sizing: border-box;
}

.modal .content {
    flex: 1;
    width: 100%;
}

.modal .header p {
    margin: 0;
}

textarea, input[type=text], input[type=number], button {
    border: 1px solid #363f50;
    border-radius: 10px;
    color: #FFF;
    background: none;

    width: 100%;

    padding: 10px;
    box-sizing: border-box;
}

textarea:focus, input[type=text]:focus, input[type=number]:focus {
    background: #161a2a !important;
    outline: none;
    /*border-color: rgba(255, 255, 255, .5);*/
}

button {
    background: #1b4cb5;
    border-width: 0;
    cursor: pointer;
}

.secondary {
    background: #283142;
}
